.title {
    padding-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
    font-weight: 300;
}
#courses {
    margin: 0 auto;
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.courseTitle {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 300;
}
.course-tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.tabs {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #feecd1;
    border-radius: 0.5rem;
    background-color: transparent;
}
.active-tabs {
    background-color: #feecd1;
    color: #2a2929;
    position: relative;
}
.active-tabs::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    right: 0;
    height: 30px;
    background-color: #997007;
    border-radius: 0.5rem;
    z-index: -1;
}
.content-tabs {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column; 
    width: 90%;
    padding: 20px;
    background: rgb(50,50,50);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.content-tabs p {
    margin: 0.5rem 0;
    color: #eaeaea;
}
.info {
    display: none; /* initially hidden */
    max-width: 80rem; 
    /* margin: auto; */
    animation: fadeIn 0.3s ease-in-out;
}
.active-info {
    display: block;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@media screen and (max-width: 600px) {
    .course-tabs {
        flex-direction: column;
    }
    .tabs {
        width: 100%;
        text-align: center;
    }
    .content-tabs {
        width: 100%;
    }
}