#contact {
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.contactTitle {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
}
.contactDesc {
    font-weight: 300;
    font-size: 1rem;
    padding: 1rem;
}
.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 80rem;
}
.name, .subject, .msg {
    font-size: medium;
    width: 100%;
    max-width: 50rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background: rgb(50,50,50);
}
.submitBtn {
    background: #feecd1;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
    cursor: pointer;
}
.links {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}
.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 1rem;
    border-radius: 50%;
    cursor: pointer;
}
.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    transition: transform 0.3s ease;
}
.link-container:hover {
    transform: scale(1.1); 
}
.link-label {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 1rem;
    color: #feecd1;
    visibility: hidden;
    margin-top: 5px;
}
.link-container:hover .link-label {
    opacity: 1;
    visibility: visible;
}
.link {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    transition: transform 0.3s ease;
}